<div class="container">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="minicastform">
     <%= f.input :first_name,
                required: true,
                autofocus: true,
                placeholder: "bob",
                input_html: { autocomplete: "Prénom" }%>
    <div class="minicastform">
    <%= f.input :last_name,
              required: true,
              autofocus: true,
              placeholder: "Morane",
              input_html: { autocomplete: "Nom de famille" }%>
     <%= f.input :description,
              required: true,
              autofocus: true,
              placeholder: "Grande navigatrice, je suis ici pour...",
              input_html: { autocomplete: "Description" }%>
    <%= f.input :photo, as: :file %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "bob@gmail.com",
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                placeholder: "* * * *",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                placeholder: "* * * *",
                input_html: { autocomplete: "new-password" } %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn-master" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
