<body class="newminicast">

  <h2>Record</h2>
    <p>
      <button id=record></button>
      <button id=stopRecord disabled>Stop</button>
    </p>
    <p>
      <audio id=recordedAudio></audio>
    </p>

    <%= simple_form_for @minicast, url: minicasts_path do |f| %>
      <div class = "minicastform">
          <%= f.input :title, label: "Titre du podcast", placeholder: "Spots à Belle-île-en-mer" %>
          <%= f.input :description, label: "Description", placeholder: "Je vous partage mes meilleurs spots" %>
          <%= f.association :sub_categories, label: "Thèmes" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "SAUVEGARDER", class: "btn btn-newminicast" %>
        <%= link_to profiles_path%>
      </div>
    <% end %>

 </body>
