<div class="container">

  <div class="buttons">

  </div>

  <%= simple_form_for [ @user, @minicast ] do |f| %>
    <%= f.input :title, label: "Titre du podcast", placeholder: "Spots à Belle-île-en-mer" %>
    <%= f.input :description, label: "Description", placeholder: "Je vous partage mes meilleurs spots" %>
    <%= f.input :theme, :collection => ['voilier', "plongee"] %>
    <div class="form-actions">
      <%= f.button :submit, "Ajouter un nouveau bateau", class: "btn btn-primary" %>
    </div>
  <% end %>

 </div>
