<div class="container minicast-show text-center" id="show-container">

  <h2><%= @minicast.title %></h2>
  <%= link_to user_path do %>
    <%= cl_image_tag @minicast.user.photo.key, class: "avatar mb-2 mt-2" %>
    <p> par <%= @minicast.user.first_name %></p>
  <% end %>

  <div class="d-flex justify-content-center mt-3 mb-3 minicast-placeholder">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <%= link_to minicast_path(@previous_minicast) do %>
        <%= image_tag "components/left-arrow-dark.svg" %>
        <% end %>
      </button>

      <%= image_tag "microminicasts.png", width: 350, height: 300, crop: :fill %> 

      <button type="button" class="btn btn-default" aria-label="Left Align">
        <%= link_to minicast_path(@next_minicast) do %>
        <%= image_tag "components/right-arrow-dark.svg" %>
        <% end %>
      </button>
  </div>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item1">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">MINICAST</a>

    <li class="nav-item1">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">COMMENTAIRES</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><%= @minicast.description %></div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <% @comments.each do |comment|  %>      
        <div> <strong><%=comment.user.first_name%></strong> <%= comment.content  %></div>      
      <%end%>
        
      <%= simple_form_for [@minicast, @comment] do |f| %>
        <div class="add-comment">
          <%= f.input :content, label: "Ajouter un commentaire" %>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, "COMMENTER", class: "btn-master" %>
        </div>
      <%end%>
      
    </div>    
  </div>
  <audio
      controls
      src="<%= cloudinary_url("#{@minicast.audio.key}.mp3", resource_type: "video") %>">
          Your browser does not support the
          <code>audio</code> element.
  </audio>
</div>
